body
{ 
	background-color: #090C0F;
}

h1,h2,h3,h4,h5,h6 {font-family: Times New Roman, sans-serif;}

#info div ul li
{
	width: 24%;
	height: auto;
	display: inline-block;
	text-align: center;
	position: relative;
}

#info a
{
	color: #67687C;
	text-decoration: none;
}

@media screen and (min-width: 600px)
{
	#info h4 
	{
		font-size: 18px;
	}
	#info h6
	{
		font-size: 14px;
	}
}

@media screen and (max-width: 600px) 
{
	#info h4
	{
		font-size: 12px;
	}
	#info h6
	{
		font-size: 10px;
	}
	
}
#RedesSociales
{
	width: 100%;
	height: 0 auto; /*Tamaño de la barrita negra*/
	background-color: #000000;
	text-align: right;
}
#MenuPrincipal-Opciones
{
	width: 82%;
	margin-top: -1.2%;
	height: 97px; /*Tamaño de la barrita negra*/
	background-color: #101218;
}
#MenuPrincipal-Opciones li
{
	padding-left: 6px;
	padding-right: 6px;
}
#MenuPrincipal-Opciones a
{
	color: #FFFFFF;
	text-decoration: none;
}
#MenuPrincipal-Opciones h6
{
	
	color: gray;
}
#uno:hover { color:red; } 
#dos:hover { color:red; }
#tres:hover { color:red; }
#cuatro:hover { color:red; }
#cinco:hover { color:red; }
#seis:hover { color:red; }

@media screen and (min-width: 600px)
{
	#MenuPrincipal-Opciones li
	{
		padding-top: 10px;
	}
	#MenuPrincipal-Opciones h4
	{
		font-size: 20px;
	}
	#MenuPrincipal-Opciones h6
	{
		font-size: 20px;
	}
}

@media screen and (max-width: 600px) 
{
	#MenuPrincipal-Opciones h4
	{
		font-size: 12px;
	}
	#MenuPrincipal-Opciones h6
	{
		font-size: 12px;
	}
	#MenuPrincipal-Logo img
	{
		position: relative;
		width: 18%;
		height: auto;
	}
	#MenuPrincipal-Opciones
	{
		width: 93%;
		margin-top: -3.7%;
		height: 87px; /*Tamaño de la barrita negra*/
		background-color: #101218;
	}
}
#carouselExampleIndicators
{
	margin-left: 121px;
	width: 82.2%;
    max-height: auto;
}

@media screen and (max-width: 600px) 
{
	#carouselExampleIndicators
	{
		margin-left: 16.5px;
		width: 92.5%;
	    max-height: auto;
	}
}

.tex1
{
    position: absolute;
    top: 50%;
    left: 10%;
}
.tex2
{
    position: absolute;
    top: 50%;
    left: 10%;
}
.tex3
{
   position: absolute;
   top: 50%;
   left: 10%;
}
.tex4
{
    position: absolute;
    top: 50%;
    left: 10%;
}

#id-text1 h3
{
	color: red;

}
#id-text1 h1
{
	color: white;
}
#id-text1 h6
{
	color: gray;
}
#id-text1 button
{
	margin: 0 auto;
	background-color: red;
	border-radius: 4px;
	border: 4px solid red;
	padding: 7px 12px;
}
#id-text1 button h4
{
	color: white;
}
#id-text2 h3
{
	color: red;

}
#id-text2 h1
{
	color: white;
}
#id-text2 h6
{
	color: gray;
}
#id-text2 button
{
	margin: 0 auto;
	background-color: red;
	border-radius: 4px;
	border: 4px solid red;
	padding: 7px 12px;
}
#id-text2 button h4
{
	color: white;
}
#id-text3 h3
{
	color: red;

}
#id-text3 h1
{
	color: white;
}
#id-text3 h6
{
	color: gray;
}
#id-text3 button
{
	margin: 0 auto;
	background-color: red;
	border-radius: 4px;
	border: 4px solid red;
	padding: 7px 12px;
}
#id-text3 button h4
{
	color: white;
}
#id-text4 h3
{
	color: red;

}
#id-text4 h1
{
	color: white;
}
#id-text4 h6
{
	color: gray;
}
#id-text4 button
{
	margin: 0 auto;
	background-color: red;
	border-radius: 4px;
	border: 4px solid red;
	padding: 7px 12px;
}
#id-text4 button h4
{
	color: white;
}

@media screen and (max-width: 600px) 
{
	#ContenidoCarrousel h3
	{
		font-size: 10px;
	}
	#ContenidoCarrousel h1
	{
		font-size: 10px;
	}
	#ContenidoCarrousel h6
	{
		font-size: 10px;
	}
	#id-text1 h4
	{
		margin: 0 auto;
		background-color: red;
		border-radius: 0px;
		border: 0px solid red;
		padding: 0px 0px;
		font-size: 4px;
	}
	#id-text2 h4
	{
		margin: 0 auto;
		background-color: red;
		border-radius: 0px;
		border: 0px solid red;
		padding: 0px 0px;
		font-size: 4px;
	}
	#id-text3 h4
	{
		margin: 0 auto;
		background-color: red;
		border-radius: 0px;
		border: 0px solid red;
		padding: 0px 0px;
		font-size: 4px;
	}
	#id-text4 h4
	{
		margin: 0 auto;
		background-color: red;
		border-radius: 0px;
		border: 0px solid red;
		padding: 0px 0px;
		font-size: 4px;
	}
	#id-text1
	{
	    position: absolute;
	    top: 0%;
	    left: 10%;
	}
	#id-text2
	{
	    position: absolute;
	    top: 0%;
	    left: 10%;
	}
	#id-text3
	{
	    position: absolute;
	    top: 0%;
	    left: 10%;
	}
	#id-text4
	{
	    position: absolute;
	    top: 0%;
	    left: 10%;
	}
	
}
#BarraDeLogos
{
	width: 82.3%;
	height: 40px;/*Tamaño de la imagend e fondo*/
	background-color: black;
	margin-left: auto;
}
	#BarraDeLogos img
	{
		position: relative;
		width: 50%;
		text-align: center;
		margin-left: 20%;
	}
@media screen and (max-width: 600px) 
{
	#BarraDeLogos
	{
		width: 92.1%;
		height: 20px;/*Tamaño de la imagend e fondo*/
		background-color: black;
		margin-left: auto;
	}
	#BarraDeLogos img
	{
		position: relative;
		width: 80%;
		text-align: center;
		margin-left: 13%;
	}
}

#Seccion
{
	width: 82.2%;
	text-align: left;
	background-color: #191922;
}
#Seccion h3 /*PARA PONER LAS LETRAS EN LINEA*/
{
	display: inline;
}
#Flecha
{
	color: red;
}
#InfoFlecha
{
	color: gray;
}
@media screen and (max-width: 600px) 
{
	#Seccion
	{
		width: 92.2%;
		background-color: #191922;
	}
	#Seccion h3
	{
		font-size: 15px;
	}
}
#UltimoNav
{
	width: 82.2%;
	height: auto; /*Tamaño de la barrita negra*/
	margin: 0 auto;
	background-color: black;
}
#UltimoNav div ul
{
	width: 100%;
	height: auto;
	margin: 0 auto;
}
#UltimoNav ul li
{
	text-align: left;
	margin-left: 2%;
	margin-top: 1%;
	margin-bottom: 1%; 
	height: 20px;
	display: inline-block;
}
#UltimoNav ul li a
{
	width: 20%;
	color: white;
	text-decoration: none;
}
#Pri:hover { color:red; } 
#Seg:hover { color:red; }
#Ter:hover { color:red; }
#Cua:hover { color:red; }
#Qui:hover { color:red; }
#Sex:hover { color:red; }

@media screen and (max-width: 600px) 
{
	#UltimoNav
	{
		width: 92.2%;
		height: auto; /*Tamaño de la barrita negra*/
		margin: 0 auto;
		background-color: black;
	}
}
#UltimoDiv
{
	width: 100%;
	height: 0 auto; /*Tamaño de la barrita negra*/
	background-color: #000000;
	text-align: left;
}
#UltimoDiv2
{
	width: 100%;
	height: 0 auto; /*Tamaño de la barrita negra*/
	background-color: #000000;/*#000000*/
	text-align: left;
}
#IMG-1
{
	margin-left: -3.9%;
	
}
	#IMG-1 img
	{
		width: 151%;
		height: auto;
	}
#IMG-2
{

	margin-left: 46.7%;
}
	#IMG-2 img
	{
		width: 151%;
		height: auto;
	}
#IMG-3
{
	margin-left: -8.8%;
}
	#IMG-3 img
	{
		width: 120%;
		height: auto;
	}
#IMG-4
{
	margin-left: 0%;
}
	#IMG-4 img
	{
		width: 122.5%;
		height: auto;
	}
#IMG-5
{
	margin-left: 0%;
}
	#IMG-5 img
	{
		width: 110%;
		height: auto;
	}

@media screen and (max-width: 768px) 
{
	#IMG-1
	{
		margin-left: 0%;
	}
	#IMG-1 img
	{
		width: auto;
		height: auto;
	}
	#IMG-2
	{
		margin-left: 0%;
	}
	#IMG-2 img
	{
		width: auto;
		height: auto;
	}
	#IMG-3
	{
		margin-left: -2%;
	}
	#IMG-3 img
	{
		width: 100%;
		height: auto;
	}
	#IMG-4
	{
		margin-left: -1.5%;
	}
	#IMG-4 img
	{
		width: 100%;
		height: auto;
	}
	#IMG-5
	{
		margin-left: -1.5%;
	}
	#IMG-5 img
	{
		width: 100%;
		height: auto;
	}
}